@{
    Layout = "_LayoutForItems";
}


<div class="user-add-success-add">
    <i class="fa-solid fa-check"></i>
    <p style="font-size:0.9rem;">
        <span>En länk för att återställa lösenord har nu skickats till användarens e-postadress</span>
    </p>
</div>

<script>
    var countdownValue = 3;

    function updateCountdown() {
        countdownValue--;
        if (countdownValue <= 0) {
            window.location.href = '/users';
        }
    }

    setInterval(updateCountdown, 1000);
</script>

