.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    margin-bottom: 16px;
    margin-top: 8px;

    @include desktop {
        margin-bottom: 48px;
    }

    .left-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 100%;

        .mobile-btn {
            min-width: 35px;
            min-height: 35px;
            border: none;

            @include desktop {
                display: none;
            }
        }

        .logo {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

        .logo-mobile {
            height: 45%;

            @include desktop {
                display: none;
            }
        }

        .logo-desktop {
            display: none;

            @include desktop {
                display: inline;
                height: 80%;
            }
        }
    }

    .right-wrapper {
        display: flex;
        column-gap: 10px;

        .right-wrapper-outer-div {
            display: flex;
            align-items: center!important;
            color: #000000;
            text-decoration: none;
            column-gap: 1rem;

            @include text("body", "regular");

            .right-wrapper-inner-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #header-img-user-signedin {
                height: 3rem;
                border-radius: 50%;
                border: 1px solid gray;
            }

            @include desktop {
                align-items: flex-end;
            }

            i {
                font-size: 20px;
            }
        }

        .right-wrapper-outer-div:hover {
            font-size: 0.89rem;
            transition-duration: 0.2s;

            #header-img-user-signedin {
                height: 3.2rem;
                border-radius: 50%;
                border: 1px solid gray;
                transition-duration: 0.2s;
            }
        }
    }
}
